# Python
**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/
**/.env
**/.env.local

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/doc/api/
**/*.iml
**/.idea/
**/.vscode/

# Android
**/android/.gradle/
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/*.hprof

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/.last_build_id

# Logs / OS
*.log
hs_err_pid*.log
replay_pid*.log
.DS_Store
Thumbs.db
