EMOTIV_CLIENT_ID=9ce6U8locp8Bo3qFPocP9siLIE481Yp9Vsns6QVO
EMOTIV_CLIENT_SECRET=SrA1W3e2T0gaYcj45tCdQo77Z5lRvUfjTLz5q4Q7CSqySgIq6eRl4kUq8jd4FTKZ3jVLGue1hk6K0nYizHBDYdcFwSl3E14dbLhAI0eU498PugxY0Su0yF1nCFBTONQT
EMOTIV_HEADSET_ID=EPOCX-XXXXXXXX
CORTEX_URL=wss://localhost:6868
EMOTIV_LICENSE=
EMOTIV_DEBIT=1
BACKEND_URL=http://0.0.0.0:8000
BACKEND_PORT=8000
